<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xms">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.jiarui.ccniao.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎页 -->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 引导页 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.NhtjActivity"
            android:screenOrientation="portrait" />
        <!-- 实时负荷 -->
        <activity
            android:name=".ui.activity.SsjcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CbsjActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangeMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DldfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BxglActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.XtszActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BxjllbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BxdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RequsetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DfcsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PcbjActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SsdlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SdlrjsqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PcgjActivity"
            android:screenOrientation="portrait" />

        <!-- 图片选择的Activity -->
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <!--利润计算器-->
        <activity android:name=".ui.activity.LrjsqActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>